.card{
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
}

.card-img{
    max-width: 128px;
    max-height: 128px;
}

img{
    display: inline-block;
    
}