.another-users{
    display: flex;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 0 auto;
    
}
.card{
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    border: 1px solid #000;
    width: 195px;
    height: 223px;
    
}

.card-img{
    max-width: 128px;
    max-height: 128px;
}

img{
    display: inline-block;
    
}
